{% extends 'layout.html' %}
{% block title %}Editar Formação{% endblock %}

{% if user_major.major %}
    {% set major = user_major.major %}
{% elif user_major.temp_major %}
    {% set major = user_major.temp_major %}
{% endif %}

{% block content %}
    <div class="w-75 m-auto mt-4 text-center">
        <div class="text-start">
            <a href="{{ url_for('major.list_all') }}" class="text-decoration-none text-danger">
                <i class="bi bi-arrow-return-left text-danger"></i> Voltar
            </a>
        </div>
        {% if user_major %}
            <div class="d-flex flex-column justify-content-between align-items-center my-4">
                <span class="fs-5">Editando <b class="text-info">
                        {{ major.level.capitalize() }} em {{ major.name.capitalize() }}
                </b></span>
                <span class="text-muted fs-6">
                    De {{ major.university.capitalize() }} - {{ major.uni_acronym.upper() }}
                </span>
            </div>

            <form action="{{ url_for('major.edit_user_major', user_major_id=user_major.id) }}" method="post"
                  class="row g-3 mt-4 text-start w-50 m-auto">
                {{ form.csrf_token }}

                <div class="col-12 m-auto">
                    {{ form.college_code.label(class='form-label') }}
                    {{ form.college_code(class='form-control', value=user_major.college_code) }}
                </div>
                <div class="col-12 m-auto">
                    {{ form.institutional_email.label(class='form-label') }}
                    {{ form.institutional_email(class='form-control', value=user_major.institutional_email) }}
                </div>
                <div class="col-12 m-auto">
                    {{ form.user_is.label(class='form-label') }}
                    <select name="user_is" id="user_is" class="form-select">
                        {% for key, value in form.user_is.choices %}
                            <option value="{{ key }}" class="primary-bg-dark"
                            {% if value.lower() == user_major.user_is %} selected {% endif %}>
                                {{ value }}
                            </option>
                        {% endfor %}
                    </select>
                    {% for error in form.user_is.errors %}
                        <div class="text-danger">
                            {{ error }}
                        </div>
                    {% endfor %}

                </div>
                <div class="col-12 m-auto">
                    {{ form.start_date.label(class='form-label') }}
                    {{ form.start_date(class='form-control', type='date', value=user_major.start_date) }}
                </div>
                {% if user_major.end_date %}
                    <div class="col-12 m-auto">
                        {{ form.end_date.label(class='form-label') }}
                        {{ form.end_date(class='form-control', type='date', value=user_major.end_date) }}
                    </div>
                {% endif %}
                <div class="col-12 m-auto mt-4 text-end">
                    {{ form.submit(class='btn btn-success') }}
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}