{% macro render_field(field) %}
  <div class="col-12 position-relative">
    {{ field.label(class="form-label") }}
    {% if field.errors %}
      {% for error in field.errors %}
        <div class="text-danger">
          {{ error }}
        </div>
      {% endfor %}
      {{ field(class="form-control is-invalid",  **kwargs)|safe }}
    {% else %}
      {{ field(class="form-control", **kwargs)|safe }}
    {% endif %}
  </div>
{% endmacro %}

{% macro show_errors(field) %}
    {% if field.errors %}
      {% for error in field.errors %}
        <div class="text-danger small">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}
{% endmacro %}