<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 - Bad Request</title>

    <style>
        *{
            font-family: 'Segoe UI Emoji', sans-serif;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
    <div class="text-bg-dark container-fluid d-flex flex-row vh-100 w-100 p-4">
        <div class="d-flex flex-column h-100 w-100 justify-content-center align-items-center text-center">
            <div class="header d-flex flex-column">
                <h1>400</h1>
                <h2>Solicitação Inválida.</h2><br>
            </div>

            <p class="lead d-flex flex-column text-break align-items-center">
                Infelizmente ocorreu um erro durante ao processar sua requisição.
                <a href="{{ url_for('main.home') }}" class="text-decoration-none text-info">
                Volte ao menu e tente novamente.
                </a>
            </p>
        </div>
    </div>
</body>
</html>