<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% block head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://kit.fontawesome.com/5f236bbd73.js" crossorigin="anonymous"></script>

    {% endblock %}
</head>
<body>
    <div class="d-flex flex-row h-100 w-100" style="min-height: 100vh;">
        {% include "navbar.html" %}
        <div class="ms-auto end-0 primary-bg-dark h-100" style="width: 85%">
            <div class="pt-4" style="min-height: 10vh;">
                {% include "searchbar.html" %}
            </div>
            <div class="p-4" style="min-height: 90vh;">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <div class="flashes" style="position: fixed; top: 1rem; z-index: 1000;">
                      {% for message in messages %}
                        <div class="alert alert-warning" role="alert">
                          {{ message }}
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>