{% block navbar %}
<nav class="vh-100 position-fixed d-flex flex-column align-items-start primary-bg" style="width: 15%">
    <div class="dropdown p-4" style="min-width: fit-content">
        <button type="button" class="btn w-100 dropdown-toggle text-white"
           data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ current_user.profile_pic }}" alt="profile pic" class="profile-pic-sm img-thumbnail p-0">
            {% if current_user.username|length < 10 %}
                <strong class="ms-1">{{ current_user.username }}</strong>
            {% endif %}
        </button>
        <div class="dropdown-menu text-small shadow primary-bg-dark">
            <a class="dropdown-item" href="{{ url_for('perfil.detail_profile', code=current_user.code) }}">Perfil</a>
            <a class="dropdown-item" href="{{ url_for('major.list_all') }}">Formações</a>
            <a class="dropdown-item" href="#">Configurações</a>
            <hr class="dropdown-divider border-white">
            <a class="dropdown-item" href="{{ url_for('auth.signout') }}">Sair</a>
        </div>
    </div>
    <ul class="nav nav-pills flex-column align-items-start w-100 mt-3 px-4">
        <li class="nav-item w-100">
            <a href="{{ url_for('post.feed') }}"
               class="nav-link
                {% if request.path == url_for('post.feed') %}active px-3{% endif %}"
                aria-current="page">
                <i class="bi bi-house"></i> Feed
            </a>
        </li>
        <li class="nav-item w-100">
            <a href="{{ url_for('amigo.get_friends') }}"
               class="nav-link
                {% if request.path == url_for('amigo.get_friends') %}active px-3{% endif %}"
                aria-current="page">
                <i class="bi bi-people"></i> Amigos
            </a>
        </li>
        {% if current_user.has_major('nutrição') %}
        <li class="nav-item w-100">
            <a href="{{ url_for('routine.list_all', routine_type='dieta') }}"
               class="nav-link {% if request.path == url_for('routine.list_all', routine_type='dieta') %}active{% endif %}"
                aria-current="page">
                <i class="fa-solid fa-clipboard-list"></i> Dietas
            </a>
        </li>
        {% endif %}

        {% if current_user.has_major('educação física') %}
        <li class="nav-item w-100">
            <a href="{{ url_for('routine.list_all', routine_type='treino') }}"
               class="nav-link {% if request.path == url_for('routine.list_all', routine_type='treino') %}active{% endif %}"
                aria-current="page">
                <i class="fa-solid fa-dumbbell"></i> Treinos
            </a>
        </li>
        {% endif %}

        <!-- <li class="nav-item w-100">
            <a href="#" class="nav-link" aria-current="page">
                <i class="bi bi-play-btn"></i> Vídeos
            </a>
        </li> -->
{#        <li class="nav-item w-100">#}
{#            <a href="{{ url_for('chats') }}" class="nav-link px-1 {% if request.path == url_for('chats') %}active{% endif %}" aria-current="page">#}
{#                <i class="bi bi-chat-dots"></i> Conversas#}
{#            </a>#}
{#        </li>#}
        <li class="nav-item position-relative w-100">
            <a href="{{ url_for('notificacao.get_all') }}"
               class="nav-link {% if request.path == url_for('notificacao.get_all') %}active px-3{% endif %}"
                aria-current="page">
                <i class="bi bi-bell"></i>
                Notificações
                <span class="position-absolute end-0 top-50 translate-middle badge rounded-circle bg-danger text-white" id="notifications-count"></span>
                {% if current_user.notifications %}
                    <script>let notiCount = 0;</script>
                	{% for notification in current_user.notifications %}
                		{% if not notification.seen %}
                            <script>notiCount++;</script>
                		{% endif %}
                	{% endfor %}
                {% endif %}
            </a>
        </li>
{#        {% if True %}#}
{#        <li class="nav-item w-100">#}
{#            <a href="{{ url_for('dashboard') }}" class="nav-link px-1 {% if request.path == url_for('dashboard') %}active{% endif %}" aria-current="page">#}
{#                <i class="bi bi-list-task"></i> Dashboard#}
{#            </a>#}
{#        </li>#}
{#        {% endif %}#}
    </ul>
</nav>

<script>
    window.onload = () => {
        const notificationsCount = document.getElementById('notifications-count');
        if (notiCount !== 0) { notificationsCount.innerText = notiCount.toString(); }

    }
</script>
{% endblock %}