{% block searchbar %}
    <div class="w-75 h-auto d-flex flex-column justify-content-center
    align-items-center mb-3">
        <form action="{{ url_for('perfil.find') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="position-relative d-flex">
                <label>
                    <input type="text" name="search" class="form-control pe-5" placeholder="Encontrar usuários">
                </label>
                <button type="submit" class="btn btn-outline-dark position-absolute end-0 top-0 bottom-0 d-flex
                align-items-center px-2 rounded-0 rounded-end">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flashes" style="position: relative; top: 1rem;">
          {% for message in messages %}
            <div class="alert alert-warning" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
{% endblock %}