<li class="nav-item w-100">
    <div class="dropdown w-100">
        <button class="text-white nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-clipboard-check"></i> Aprovar
        </button>

        <ul class="dropdown-menu bg-transparent border-0">
            {% if current_user.teaches('Nutrição') %}
                <li>
                    <a href="#"
                       class="dropdown-item ms-3 rounded" style="width: fit-content;">
                        Dietas
                    </a>
                </li>
            {% endif %}
            {% if current_user.teaches('Educação física') %}
                <li>
                    <a href="#"
                       class="dropdown-item ms-3 rounded" style="width: fit-content;">
                        Treinos
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</li>