<li class="nav-item w-100">
    <div class="dropdown w-100 ms-1">
        <button type="button" class="btn border-0 text-white"
                data-bs-toggle="dropdown" aria-expanded="false"
                style="font-size: .8rem;">
            <i class="bi bi-clipboard-check"></i> Aprovar
        </button>

        <div class="dropdown-menu ms-1 primary-bg border-0" style="font-size: .8rem;">
            {% if current_user.teaches('Nutrição') %}
                <a href="#"
                   class="dropdown-item rounded-2">
                    Dietas
                </a>
            {% endif %}
            {% if current_user.teaches('Educação física') %}
                <a href="#"
                   class="dropdown-item rounded-2">
                    Treinos
                </a>
            {% endif %}
        </div>
    </div>
</li>