<a href="{{ notification.url }}" class="d-flex text-decoration-none text-black align-items-center">
    <img src="{{ notification.sender.profile_pic }}" alt="{{ notification.sender.username }}'s profile pic" class="rounded-circle me-2" style="width: 3rem; height: 3rem;">
    <div class="d-flex flex-column align-items-start">
        <p class="text-wrap">{{ notification.content }}</p>
        <span class="text-muted">{{ notification.sender.username }}</span>
    </div>
    <div class="d-flex align-items-start ">
        <a href="{{ url_for('amigo.accept_request', friendship_id=notification.friendship.id) }}"><i class="bi
        bi-check2 text-success
        ms-3"></i></a>
        <a href="{{ url_for('amigo.decline_request', friendship_id=notification.friendship.id) }}"><i class="bi bi-x-lg
        text-danger
        ms-3"></i></a>
    </div>
</a>