{% extends 'layout.html' %}
{% block title %}Editar Opção de Refeição{% endblock %}
{% block content %}
    <div class="w-75 m-auto text-center mt-4 d-flex flex-column align-items-center">
        {% if not option.foods %}
            <div class="mb-4">Nenhum alimento adicionado.</div>
        {% else %}
            <div style="min-width: fit-content;">
                {% for food in option.foods %}
                    <a href="#" class="text-decoration-none">
                        <div class="w-100 text-center d-flex flex-column align-items-center justify-content-between
                        my-4">
                            <span class="text-info">Opção {{ loop.index }}</span>
                            {% if item_meal.goal %}
                            	<span>Objetivo: {{ item_meal.goal }}</span>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        <div>
            <a href="{{ url_for('item.add_meal', item_id=item.id) }}" class="btn btn-success"><i class="bi
            bi-plus"></i>Adicionar opção</a>
        </div>

        <div class="mt-4">
            <a href="{{ url_for('routine.update', routine_id=item.routine_id) }}" class="btn
            btn-outline-danger"><i class="bi bi-arrow-left"></i> Voltar</a>
        </div>
    </div>
{% endblock %}