<form action="{{ url_for('item.add_option')+'?meal_id={}'.format(meal.id) }}" method="post" class="row g-3 text-start">
    {{ form.csrf_token }}

    <div class="col-12">
        {{ form.name.label(class='form-label') }}
        {{ form.name(class='form-control') }}
    </div>
    <div class="col-12">
        {{ form.description.label(class='form-label') }}
        {{ form.description(class='form-control') }}
    </div>
    <div class="col-12">
        {{ form.meal_time.label(class='form-label') }}
        {{ form.meal_time(class='form-control') }}
    </div>

    <div class="col-12">
        {{ form.submit }}
        <a href="{{ url_for('item.diet_meals', item_id=meal.item.id) }}" class="btn btn-outline-danger mt-2 w-100">
            Cancelar
        </a>
    </div>
</form>