<form action="{{ url_for('item.add_food')+'?opt_id={}'.format(option.id) }}" method="post" class="row g-3
text-start">
    {% from "_formhelpers.html" import render_field %}
    {{ form.csrf_token }}

    {{ form.name.label(class='form-label') }}
    {{ form.name(class='form-select primary-bg-dark m-auto', style='width:96%;') }}
    {{ render_field(form.quantity) }}
    {{ render_field(form.weight) }}
    {{ render_field(form.description) }}

    <div class="col-12">
        {{ form.submit }}
        <a href="{{ url_for('item.detail_opt', opt_id=option.id) }}"
           class="btn btn-outline-danger mt-2 w-100">
            Cancelar
        </a>
    </div>
</form>