{% extends "layout.html" %}
{% block title %}Adicionar {{ routine_type.capitalize() }}{% endblock %}

{% block content %}
    <span class="d-flex align-items-center justify-content-center text-warning w-75 m-auto">
        <i class="bi bi-exclamation-triangle text-warning"></i>
        Recarregar a página irá criar uma nova rotina.
    </span>
    <div class="w-75 m-auto text-center mt-4">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <form action="{{ url_for('routine.new', routine_type=routine_type) }}" method="post">
                {{ form.csrf_token }}
                Routine ID1: {{ routine.id }}
                {{ form.routine_id(type="hidden", value=routine.id if routine else "") }}

                <div class="d-flex">
                    <label for="who_for"></label>
                    <select name="who_for" id="who_for" class="form-select w-auto">
                        {% for option in form.who_for %}
                            {% if loop.first %}
                                <option value="" class="primary-bg-dark border-0 rounded-pill" disabled
                                        selected>Selecione um amigo...</option>
                            {% else %}
                                {{ option(class="primary-bg-dark border-0 rounded-pill") }}
                            {% endif %}
                        {% endfor %}
                    </select>

                    {{ form.submit(class="btn btn-outline-info ms-2") }}
                </div>
            </form>
        </div>
        {% if routine %}
        	<div class="mt-4">
                Amigo selecionado: {{ routine.receiver.user.name }}{{ routine.receiver.user.surname }}
                <div class="mt-5">
                    {% if true %}
                        Nenhum item adicionado.
                    {% endif %}
                </div>

                <a href="{{ url_for('item.add', routine_type='treino', routine_id=routine.id) }}" class="btn
                btn-success mt-4">
                    <i class="bi bi-plus"> {{ routine_type.capitalize() }}</i>
                </a>
            </div>
        {% endif %}
    </div>

{% endblock %}