{% extends "layout.html" %}
{% block title %}Feed{% endblock %}
{% block content %}
    <div class="w-75 m-auto mt-4">
        <a href="{{ url_for('post.new') }}" class="btn btn-success text-info position-absolute end-0 me-5" role="button">
            Novo post <i class="fas fa-plus text-info"></i>
        </a>
        {% if not all_posts %}
            <div class="w-100 m-auto text-center">
                <span class="text-muted">
                    Nenhuma postagem para exibir. Seja o primeiro a postar!
                </span>
            </div>
        {% else %}
            <div class="mt-5 d-flex flex-column align-items-center justify-content-center">
                {% for post in all_posts %}
                    <div class="rounded mt-5 p-3" style="background-color: #003F88; color: white; width: 50rem;
                    min-height: 10rem; max-height: 20rem; overflow-wrap: break-word; white-space: nowrap; overflow:
                    hidden; text-overflow:
                    ellipsis;">
                        {% include "post.html" %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}