<div class="dropdown text-end" style="cursor: pointer;">
    <span class="text-muted">{{ post.created_at.strftime('%d/%m/%Y') }}</span>
    <a href="#" class="bg-transparent" id="postMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end bg-transparent border-0" aria-labelledby="postMenuLink" style="width:
    max-content; min-width:fit-content;">
        <li>
            <a href="{{ url_for('post.update', post_id=post.id) }}" class="dropdown-item rounded-pill mb-2">Editar <i
                    class="bi
            bi-pencil-square"></i></a>
        </li>
        <li>
            <a href="{{ url_for('post.delete', post_id=post.id) }}" class="dropdown-item rounded-pill
            text-danger">Excluir <i class="bi
            bi-trash3 text-danger"></i></a>
        </li>
    </ul>
</div>