<div class="dropdown text-end" style="cursor: pointer;">
    <span class="text-muted">
        {{ post.created_at.strftime('%d/%m/%Y') }}
        {% if post.created_at != post.last_updated_at %}
            (editado)
        {% endif %}
    </span>
    <button type="button" class="bg-transparent border-0" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-three-dots-vertical"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-end bg-transparent border-0" style="width:
    max-content; min-width:fit-content;">
        <a href="{{ url_for('post.update', post_id=post.id) }}" class="dropdown-item rounded-pill mb-2">
            Editar <i class="bi bi-pencil-square"></i>
        </a>
        <a href="{{ url_for('post.delete', post_id=post.id) }}" class="dropdown-item rounded-pill
        text-danger">
            Excluir <i class="bi bi-trash3 text-danger"></i>
        </a>
    </div>
</div>