{% if current_user.majors %}
    {% if current_user.taught_majors %}
    	<span class="h6">Cursos de graduação em que você leciona</span>
        {% for user_major in current_user.taught_majors %}
        	{% include 'components/major_container.html' %}
        {% endfor %}
    {% endif %}
    {% if current_user.studied_majors %}
    	<span class="h6">Cursos de graduação em que você estuda/estudou</span>
        {% for user_major in current_user.studied_majors %}
        	{% include 'components/major_container.html' %}
        {% endfor %}
    {% endif %}
{% else %}
    <span class="fs-5 text-muted">Você ainda não cadastrou nenhuma formação.</span><br>
    <span class="fs-6 text-muted">Cadastre seu nível de formação para desbloquear mais funções do app.</span>
{% endif %}