{% block searchbar %}
    <div class="w-75 d-flex flex-column justify-content-center
align-items-center mb-3">
        <div class="position-relative d-flex">
            <label>
                <input type="text" name="search" class="form-control pe-5"
                       placeholder="Buscar usuário" id="search_user">
            </label>
            <button type="button" class="btn position-absolute end-0 top-0 bottom-0 d-flex
            align-items-center px-2 rounded-0 rounded-end" id="search_btn">
                <i class="bi bi-search text-black"></i>
            </button>
        </div>
        <div class="d-flex justify-content-end gap-1 mt-2 end-0" style="font-size: .8rem; width: 40%;">
            <span>Mostrar:</span>
            <span id="show_users" class="text-info text-muted" style="cursor: pointer;">Usuários</span> |
            <span id="show_admins" class="text-info" style="cursor: pointer;">Admins</span>
        </div>
    </div>
{% endblock %}
<div id="users-container" class="w-75 d-flex flex-column justify-content-center align-items-center">
</div>
<nav>
    <ul class="pagination mt-3">
        <li class="page-item" id="prev-page"><a class="page-link" href="#">Anterior</a></li>
        <li class="page-item" id="next-page"><a class="page-link" href="#">Próximo</a></li>
    </ul>
</nav>

<script>
    let currentPage = 1;
    let role = "user";

    const show_users = document.getElementById("show_users")
    const show_admins = document.getElementById("show_admins")
    show_users.onclick = () => {
        role = "user";
        loadUsers();
        show_users.classList.add("text-muted");
        show_admins.classList.remove("text-muted");
    }
    show_admins.onclick = () => {
        role = "admin";
        loadUsers();
        show_admins.classList.add("text-muted");
        show_users.classList.remove("text-muted");
    }

    async function fetchBySearch(search) {
        const response = await fetch(`/perfil/api/buscar_usuario?search=${search}&role=${role}`);
        return await response.json();
    }


    async function autoFetch(page){
        const response = await fetch(`/perfil/api/listar_todos?page=${page}&role=${role}`);
        return await response.json();
    }


    document.getElementById("search_user").addEventListener("input", async (e) => {
        e.preventDefault();
        let search = document.getElementById("search_user").value;
        let data = await fetchBySearch(search);
        if (search.length === 0){ data = await autoFetch(1)}
        await loadUsers(1, data);
    });


    async function loadUsers(page = 1, data = []) {
        try {
            if (data.length <= 0){
                data = await autoFetch(page);
            }

            const container = document.getElementById('users-container');
            container.innerHTML = '';

            if (data.users && data.users.length > 0) {
                data.users.forEach(user => {
                    const a = document.createElement('a');
                    a.classList.add('btn', 'w-100', 'text-start', 'd-flex', 'justify-content-between', 'mt-2');
                    a.href = `#${user.code}`;
                    a.setAttribute('role', 'button');
                    a.setAttribute('data-bs-toggle', 'collapse');
                    a.setAttribute('aria-expanded', 'false');
                    a.setAttribute('aria-controls', `${user.code}`);
                    a.innerHTML = `
                        ${user.name} ${user.surname} (${user.username})
                        <i class="fas fa-chevron-down"></i>
                    `;

                    const div = document.createElement('div');
                    div.classList.add('collapse', 'w-100');
                    div.id = `${user.code}`;
                    div.innerHTML = `
                        <div class="card card-body primary-bg">
                            <div>
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">${user.name} (${user.username})</h5>
                                    <a href="{{ url_for('admin.control_user') }}?p_id=${user.id}"
                                    class="text-decoration-none bg-transparent">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                </div>
                                <p class="card-text">${user.email}</p>
                            </div>
                        </div>
                    `;
                    container.appendChild(a);
                    container.appendChild(div);
                });
            } else {
                container.innerHTML = '<span>Nenhum usuário encontrado.</span>';
            }

            if (data.has_prev) { document.getElementById('prev-page').style.visibility = 'visible'; }
            else { document.getElementById('prev-page').style.visibility = 'hidden' ; }

            if (data.has_next) { document.getElementById('next-page').style.visibility = 'visible'; }
            else { document.getElementById('next-page').style.visibility = 'hidden' ; }

            currentPage = data.current_page;

            container.addEventListener('shown.bs.collapse', function (e) {
                const icon = e.target.previousElementSibling?.querySelector('i');
                if (icon) {
                    icon.classList.add('fa-chevron-up');
                    icon.classList.remove('fa-chevron-down');
                }
            });

            container.addEventListener('hidden.bs.collapse', function (e) {
                const icon = e.target.previousElementSibling?.querySelector('i');
                if (icon) {
                    icon.classList.add('fa-chevron-down');
                    icon.classList.remove('fa-chevron-up');
                }
            });

        } catch (error) {
            console.error(error);
        }
    }

    document.getElementById('nav-users-tab').addEventListener('click', () => {
        loadUsers(1);
    });

    document.getElementById('prev-page').addEventListener('click', (e) => {
        e.preventDefault();
        if (currentPage > 1) {
            loadUsers(currentPage - 1);
        }
    });

    document.getElementById('next-page').addEventListener('click', (e) => {
        e.preventDefault();
        loadUsers(currentPage + 1);
    });

</script>
