{% extends "layout.html" %}
{% block title %}{{ profile.user.name }} {{ profile.user.surname }}{% endblock %}
{% block content %}
    <div class="w-75 m-auto text-center mt-4">
        <div class="w-100 d-flex align-items-start justify-content-start">
            <a href="{{ url_for('admin.panel') }}" class="text-decoration-none">
                <i class="bi bi-arrow-left text-danger"> Voltar</i>
            </a>
        </div>
        <div class="w-50 m-auto">
            <div class="w-100 m-auto d-flex flex-column align-items-center gap-3">
                <div>
                    <a href="{{ url_for('perfil.detail_profile', code=profile.code) }}"
                       class="text-decoration-none text-info fw-bold border rounded p-1 border-info shadow-lg">
                        Ver Perfil
                    </a>
                </div>
                <div class="gap-2 d-flex align-items-center w-100 m-auto justify-content-start mt-4">
                        <img src="{{ profile.profile_pic }}" alt="profile pic"
                             class="img-thumbnail profile-pic-lg p-1" style="width: 4rem; height: 4rem;">
                        <span class="text-white fw-bold">
                            {% block control_name %}
                                <div class="d-flex gap-2 align-items-center">
                                    {{ profile.user.name }} {{ profile.user.surname }}<br>
                                    <a href="{{ url_for('admin.change_name', p_id=profile.id) }}"
                                       class="text-decoration-none text-info fw-normal small">
                                        Alterar Nome
                                    </a>
                                </div>
                            {% endblock %}
                            {% block control_code %}
                                <div class="d-flex gap-2 align-items-center mt-3">
                                    ({{ profile.code }})
                                    <a href="{{ url_for('admin.new_code', p_id=profile.id) }}"
                                       class="text-decoration-none text-info fw-normal small">
                                        Gerar novo código
                                    </a>
                                </div>
                            {% endblock %}
                        </span>
                </div>

                <div class="w-100 m-auto d-flex align-items-center justify-content-start gap-2">
                    {% block control_username %}
                        <span class="text-white">{{ profile.username }}</span>
                        <a href="{{ url_for('admin.change_username', p_id=profile.id) }}"
                           class="text-decoration-none text-info small">
                            Alterar nome de usuário
                        </a>
                    {% endblock %}
                </div>

                <div class="w-100 m-auto d-flex align-items-center justify-content-start gap-2">
                    {% block control_email %}
                        <span class="text-white">{{ profile.user.email }}</span>
                        <a href="{{ url_for('admin.change_email', p_id=profile.id) }}"
                           class="text-info text-decoration-none small">
                            Alterar email
                        </a>
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="w-50 m-auto mt-5">
            <div class="position-relative border rounded py-4 border-danger d-flex flex-column gap-4"
                 style="min-width: fit-content;">
                <div class="w-100 m-auto d-flex justify-content-center">
                    <a href="{{ url_for('admin.new_password', p_id=profile.id) }}"
                       class="text-decoration-none text-info">
                        Enviar nova senha
                    </a>
                </div>
                
                {% if current_user.role == 'god' %}
                    <a href="{{ url_for('admin.promote_or_demote', p_id=profile.id) }}"
                       class="text-warning text-decoration-none">
                    {% if profile.role == 'admin' %}
                        Rebaixar a usuário
                    {% elif profile.role == 'user' %}
                        Promover a administrador
                    {% endif %}
                    </a>
                {% endif %} 

                {% if profile.role != 'god' %}
                	<a href="{{ url_for('admin.delete', p_id=profile.id) }}"
                       class="text-danger text-decoration-none">
                        Deletar conta
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}