{% extends "layout.html" %}
{% block title %}Solicitações de Amizade{% endblock %}
{% block content %}
    <div class="w-75 h-auto d-flex flex-column align-items-center justify-content-center">
        {% if not friends %}
            <h3 class="text-muted">Nenhum amigo adicionado.</h3>
        {% else %}
            {% for friend in friends %}
                <div class="d-flex align-items-center my-3">
                    <a href="{{ url_for('perfil.detail_profile', code=friend.code) }}" class="d-flex
                    text-decoration-none text-black">
                        <img src="{{ friend.profile_pic }}" alt="{{ friend.username }}'s profile pic"
                             class="rounded-circle me-2" style="width: 3rem; height: 3rem;">
                        <div class="d-flex flex-column align-items-start">
                            {{ friend.user.name }}{{ friend.user.surname }}
                            <span class="text-muted">{{ friend.username }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}