{% extends "layout.html" %}
{% block title %}Solicitações de Amizade{% endblock %}
{% block content %}
    <div class="w-75 h-auto d-flex flex-column align-items-center justify-content-center">
        {% if not requests %}
            <h3 class="text-muted">Nenhuma solicitação de amizade encontrada.</h3>
        {% else %}
            {% for sender in requests %}
                <div class="d-flex align-items-center my-3">
                    <a href="{{ url_for('perfil.detail_profile', code=sender.code) }}" class="d-flex
                    text-decoration-none text-black">
                        <img src="{{ sender.profile_pic }}" alt="{{ sender.username }}'s profile pic"
                             class="rounded-circle me-2" style="width: 3rem; height: 3rem;">
                        <div class="d-flex flex-column align-items-start">
                            {{ sender.user.name }}{{ sender.user.surname }}
                            <span class="text-muted">{{ sender.username }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}