<div class="table-responsive-sm">
    <table class="table table-bordered table-dark table-striped-columns table-hover align-middle text-center">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Reason</th>
                <th scope="col">Total reports</th>
                <th scope="col">More</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <td><user></td>
                <td>Not a student</td>
                <td>10</td>
                <td><p>This guy is totally faking being a student.</p></td>
                <td class="table-danger">...</td>
            </tr>
        </tbody>
    </table>
</div>