{% extends "profile/config.html" %}
{% block edit_username %}
    <form action="{{ url_for('perfil.update_username') }}" method="post"
          class="d-flex justify-content-center align-items-end mt-3 w-100 gap-2">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="d-flex flex-column justify-content-center align-items-start">
            <label for="username" class="form-label text-muted">Nome de usuário:</label>
            <input type="text" name="username" id="username"
                   class="bg-transparent border border-dark-subtle w-auto p-1 rounded text-white text-decoration-none
                   text-center"
                   value="{{ current_user.username }}"/>
        </div>
        <input type="submit" value="Salvar" class="text-success small bg-transparent border-0">
        <a href="{{ url_for('perfil.settings') }}" class="text-danger small text-decoration-none">Cancelar</a>
    </form>
{% endblock %}