{% extends "layout.html" %}
{% block title %}{{ current_user.user.name }} {{ current_user.user.surname }}{% endblock %}
{% block content %}
    <div class="d-flex flex-column justify-content-between flex-wrap flex-md-nowrap align-items-center mt-3 w-75
    mx-auto">
        <img src="{{ current_user.profile_pic }}" alt="profile pic" class="img-thumbnail profile-pic-lg">
        <input type="text" value="{{ current_user.user.name }} {{ current_user.user.surname }}" class="form-control w-25
        mt-3" readonly>
        {% block edit_email %}
            <input type="email" value="{{ current_user.user.email }}" class="form-control mt-3 w-25" readonly>
            <a href="{{ url_for('usuario.update_email') }}" class="mt-2 light-blue">Atualizar email</a>
        {% endblock %}
    </div>

    <form action="{{ url_for('perfil.select_supervisor') }}" method="post" class="my-5">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="supervisorDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Escolher supervisor
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="supervisorDropdown">
                {% for friend in current_user.friends %}
                    <li>
                        <button class="dropdown-item d-flex align-items-center" type="button" onclick="selectSupervisor
                                ('{{ friend.id }}', '{{ friend.user.name }} {{ friend.user.surname }}'); return false;">
                            <img src="{{ friend.profile_pic }}" alt="#" class="me-2 rounded-circle" style="width: 30px; height: 30px;">
                            {{ friend.user.name }} {{ friend.user.surname }}
                        </button>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                {% endfor %}
            </ul>
            <input type="hidden" name="supervisor_id" id="supervisorInput">

            <p class="mt-1">Supervisor:
                <span id="selectedSupervisor">
                    {% if current_user.supervisor %}
                        {{ current_user.supervisor.user.name }} {{ current_user.supervisor.user.surname }}
                        <i class="text-muted">selecionado</i>
                    {% else %}
                        Nenhum
                    {% endif %}
                </span>
            </p>
        </div>

        <div id="saveBtnContainer"></div>
    </form>

    <div>
        <form action="{{ url_for('usuario.delete') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <input type="hidden" name="user_id" value="{{ current_user.user_id }}">
            <input type="submit" value="Deletar Conta" class="btn btn-danger">
        </form>
    </div>

    <script>
        function selectSupervisor(id, fullName) {
            document.getElementById('supervisorInput').value = id;
            document.getElementById('selectedSupervisor').textContent = fullName;

            const container = document.getElementById('saveBtnContainer');

            if (!document.getElementById('saveBtn')) {
                let saveBtn = document.createElement('input');
                saveBtn.type = 'submit';
                saveBtn.id = 'saveBtn';
                saveBtn.classList.add('btn', 'btn-primary');
                saveBtn.value = 'Salvar';

                container.appendChild(saveBtn);
            }
        }
    </script>
{% endblock %}