<form action="{{ url_for('comment.new', post_id=post.id) }}" method="post" class="d-flex flex-column justify-content-center
align-items-center w-100 h-auto">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <div class="d-flex flex-column text-center position-relative w-75 mt-5">
        <label for="content" class="sr-only">Adicionar comentário</label>
        <textarea type="text" name="content" id="content" placeholder="Adicione um comentário"
                  class="form-control auto-grow pe-5" rows="1" maxlength="200"></textarea>
        <button type="submit" class="btn rounded-circle position-absolute end-0 m-auto"><i
                class="fa-regular
        fa-paper-plane text-black"></i></button>
        <div class="text-end small text-muted mt-1">
            <span id="charCount">0</span>/200
        </div>
    </div>
</form>

<script>
document.addEventListener('input', function (e) {
  if (e.target.tagName.toLowerCase() === 'textarea' && e.target.classList.contains('auto-grow')) {
      e.target.style.height = 'auto';
      e.target.style.height = e.target.scrollHeight + 'px';

      const countElement = document.getElementById('charCount');
      if (countElement) {
          countElement.innerText = e.target.value.length;
      }
  }
});
</script>