<div class="d-flex justify-content-between mt-3" style="min-height: fit-content;">
    <a href="{{ url_for('perfil.detail_profile', code=comment.profile.code) }}" class="bg-transparent text-decoration-none">
        <img src="{{ comment.profile.profile_pic }}" alt="profile pic" class="profile-pic-sm img-thumbnail p-0"
             style="width:
                1.2rem; height: 1.2rem;">
        <span style="font-size: .8rem">{{ comment.profile.username }}</span>
    </a>
    <div>
        <span class="text-muted" style="font-size: .6rem">
            {{ comment.created_at.strftime('%d/%m/%Y') }}
            {% if comment.created_at != comment.last_updated_at %}
                (editado)
            {% endif %}
        </span>
        {% if comment.profile_id == current_user.id %}
            <div class="btn-group dropend">
                <button type="button"
                        class="btn btn-sm border-0 bg-transparent"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                </button>
                <div class="dropdown-menu bg-transparent border-0 fs-6" style="min-width:fit-content;">
                    <button type="button" class="dropdown-item bg-transparent"
                            id="edit-comment-{{ comment.id }}">
                        <i class="bi bi-pencil-square"></i>
                    </button>

                    <a href="{{ url_for('comment.delete', post_id=post.id, comment_id=comment.id) }}"
                       class="dropdown-item bg-transparent text-danger">
                        <i class="bi bi-trash3 text-danger"></i>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<template id="edit-comment-template-{{ comment.id }}">
    {% include "comment/edit_comment.html" %}
</template>

<div id="comment-container-{{ comment.id }}" class="text-wrap">
    <p class="ms-4 text-break pe-4" style="font-size: 1rem;">{{ comment.comment }}</p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('[id^="edit-comment-"]').forEach(btn => {
            btn.addEventListener('click', (e) => {
                e.preventDefault();
                const commentId = btn.id.split('-')[2];
                const commentContainer = document.getElementById(`comment-container-${commentId}`);
                const editTemplate = document.getElementById(`edit-comment-template-${commentId}`);
                commentContainer.innerHTML = editTemplate.innerHTML;
            });
        });
    });
</script>